@font-face {
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  url("../fonts/Segoe-UI.woff2") format("woff2"),
      url("../fonts/Segoe UI.woff") format("woff");
}
  
@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url("../fonts/Segoe-UI.ttf") format("ttf");  
}

@font-face {
  font-family: "SegoeUI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:  url("../fonts/Segoe-UI.eot") format("eot");  
}